@import url('https://fonts.googleapis.com/css?family=Titillium+Web:400,700i&display=swap');

body {
  margin: 0 auto;
  padding: 0;
  font-family:'Titillium Web', sans-serif; 
  /* background: linear-gradient(to left, rgb(194, 161, 240) 0%, rgb(249, 243, 251) 100%); */
  background-color: rgba(223, 203, 250, 0.557);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
